// Add any custom Sass & CSS here
h1{
  text-align: center;
}
#leftButton1,#leftButton2,#leftButton3{


width:60%;  text-align: center;


}
.tableLabel{
  text-align: center;
}

@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Courier;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: Consolas;
  font-style: oblique;
}



input, textarea, select, textarea {
  background: #eeeeee;
  font-family: Courier;


}

a, a:hover, a:visited {
  text-decoration: none;
}

.deleteButton{
  background: red;
  width:20%;
  height:100%;
  font-weight: bold;
  font-style: oblique;
}
.deleteTaskButton{
  background: red;
  width:80%;
  height:100%;
  font-weight: bold;
  font-style: oblique;
}


.MarkButton{
  background: green;
  width:100%;
  height:100%;

}

small{
  font-weight: bold;
  background:red;
  color:black;
  font-family: monospace;
  font-size: 200%;
  padding-top: 0;
  margin-top: 0;
}
#addUser,#addTask{
  font-weight: bold;
  background: green;
  color:white;
  font-size:250%;
  width:100%;
  height:100%;
}
#saveURL{
  background: green;
  color:white;
  font-size:100%;
  width:20%;
  height:30%;
}
#prev{
  margin-left: 0;
  weight:40%;
  padding-left:0;
}
#next{
  margin-right: 0;
  weight:40%;
  padding-right:0;
}

#repeatTask{
  height:70px;
}

#setString{
  font-family: fantasy;
  font-style: inherit;
}

#setHint{
  font-family: Georgia;
  font-style: inherit;
}

label{
  font-style: oblique;
  color: darkgrey;
  font-weight: bolder;

}