<div class="small-12 columns">
    <h2 class="page-title">Settings</h2>
    <form>
        <br>
        <br>
        <div class="row">
            <div class="small-12 columns"id="setString">
                <input type="checkbox" ng-model="showAlerts"> Show Response & Alert
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="small-12 columns" id="setHint">You may input database URL here, like: http://localhost:4000</div>

            <br>
            <br>
            <div class="small-12 columns">
                <input ng-model="url" type="text" placeholder="URL">
            </div>
        </div>
        <br>
        <br>
        <div class="text-center">
            <button id="saveURL" ng-click="setUrl()" class="button">Save</button>
        </div>
        <br>
        <div ng-bind="displaySave"></div>
    </form>
</div>